# Node modules
.DS_Store
.terraform/
npm-debug.log
node_modules/
./package-lock.json
setting/
.idea/
.vscode/
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite
