<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <!--------------------------------------------->
		<!-- 		       META'S BALISES            -->
		<!--------------------------------------------->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--------------------------------------------->
		<!-- 		      CSS'S BALISES            	 -->
		<!--------------------------------------------->
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/styleWelcome.css">
    <!--------------------------------------------->
		<!-- 	  GOOGLE FONT IMPORTED BALISES       -->
		<!--------------------------------------------->
		<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <!--------------------------------------------->
		<!-- 		   LOGO  NGBOADO ICON            -->
		<!--------------------------------------------->
		<link rel="icon" type="image/png" href="medias/icon/logo/logo.png" />
    <!--------------------------------------------->
		<!-- 		        PAGES'S TITLE            -->
		<!--------------------------------------------->
		<title>N'gboadô | Akwaba</title>
  </head>

  <!--------------------------------------------->
	<!-- 		    BOODY'S BEGINNING            -->
	<!--------------------------------------------->
  <body>

    <!--------------------------------------------->
		<!-- 		    GLOBAL CONTAINER             -->
		<!--------------------------------------------->
		<div class="container-fluid" id="Global-container">

      <!-- background with video-->
			<div class="row background-video">

        <video height="180%" autoplay="true" muted="true" loop="true" style="position: absolute; top: -40%; overflow: hidden;">
          <source src="medias/videos/video6.mp4" type="video/mp4" controls="false">
        </video>
      <!-- background with video end-->
      </div>

      <!-- cover linear gradient -->
      <div class="row cover-background"><!-- cover linear gradient end  --></div>

      <div class="row" style="position: absolute; width: 100%; height: 100%;">

        <div class="loading-level-one"></div>
        <div class="loading-level-two"></div>
        <div class="loading-level-three"></div>
        <div class="loading-level-four"></div>

        <center>
          <div class="">
            <img src="medias/icon/logo/logo.png" height="120" width="120" class="logo">
          </div>

          <h1 class="title">Bienvenue Sur Le Reseau Social N'gboadô</h1>

          <div class="">

            <div class="div-text-one">
              <img src="medias/icon/user profil/africa/userBoy09.jpg" height="60" width="60" class="admin-icon" alt="">
               <span class="text-one">
                 " &nbsp;&nbsp; Hello <img src="medias/icon/reactions/smiley.png" height="20" alt=""> Je suis DANIEL, administrateur Mondial de la famille N'gboadô, nous sommes très heureux de vous <br/>
                 compter parmis nous. Veuillez s'il vous plaît lire les conditions d'utilisation du reseau social juste 30<br/>
                 secondes, afin de mieux comprendre le concept de ce reseau social d'aide humanitaire &nbsp;&nbsp;"
                </span><br/>

                <span class="text-two">
                  " &nbsp;&nbsp; L'ONG N'GBOADÔ oeuvre pour les droits de l'homme et la promotion des valeurs citoyennes dans le <br/>
                  monde. Dans ce cadre elle a mit sur pieds le premier reseau social Humanitaire en Afrique afin de toucher<br/>
                  le plus grand nombre. En vous inscrivant sur la plateforme, vous decidez de participer à cette grande aventure &nbsp;"
                 </span><br/>

                 <span class="text-three">
                   " &nbsp;&nbsp; Vous pouvez directement sur cette plateforme mondiale, devenir un membre actif de l'ONG et faire partir <br/>
                   de nos Ministres et Ambassadeurs dans le monde entier. En debutant en tant que sympathisant vous pouvez<br/>
                   aussi participer à nos activités comme bénévoles, volontaires, mentors, parrains et marraines &nbsp;&nbsp;"
                  </span><br/>

                  <span class="text-four">
                    " &nbsp;&nbsp; La plateforme met à votre dispositions des services tels qu'une application web de téléchargements des oeuvres<br/>
                     artistiques des artistes en conditions vulnérables que nous avons nous même produit. Nous vous accompagnons <br/>
                     aussi par une assitance juridique dans vos moments difficiles au travers d'une autre plateforme &nbsp;&nbsp;"
                   </span><br/>

                   <span class="latest">
                     " &nbsp;&nbsp; Vous decouvrirez plus sur toutes ces plateformes une fois sur votre profil et pourrez en profiter pleinement ! <br/>
                     Afin de vous souhaiter la bienvenue dans cette aventure qui s'annonce très prometteuse et sûre de pouvoir <br/>
                     compter sur vous, nous dirons ensemble <em>N'GBOADÔ, le triomphe d'une vision nouvelle</em>&nbsp;&nbsp;"
                    </span><br/>
            </div>

          </div>

          <button class="btn btn-success suivant" type="button" name="button" style="cursor: pointer; border: none;">suivant</button>
          <button class="btn btn-success suivant-text-two" type="button" name="button" style="cursor: pointer; border: none;">suivant</button>
          <button class="btn btn-success suivant-text-three" type="button" name="button" style="cursor: pointer; border: none;">suivant</button>
          <button class="btn btn-success suivant-text-four" type="button" name="button" style="cursor: pointer; border: none;">suivant</button>
          <button class="btn btn-info last" type="button" name="button" style="cursor: pointer; border: none; background-color: tomato;">
            Merci <img src="medias/icon/reactions/smiley.png" height="20" alt="">
          </button>


        </center>

        <button class="btn btn-success" type="button" name="button" style="cursor: pointer; position: absolute; bottom: 5%; right: 2.5%; background: tomato; border: none;">
          Acceder A Votre Profil
        </button>
      </div>
    <!--------------------------------------------->
		<!-- 		     GLOBAL CONTAINER END            -->
		<!--------------------------------------------->
    </div>

    <!--------------------------------------------->
		<!--		    JAVASCRIPT BALISES  		 -->
		<!--------------------------------------------->
		<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="bootstrap/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/scripts_actualite.js"></script>
		<!--------------------------------------------->
		<!-- 	 IMPORTED JAVASCRIPT'S BALISES       -->
		<!--------------------------------------------->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--------------------------------------------->
  	<!-- 		            BOODY'S END              -->
  	<!--------------------------------------------->
  </body>
</html>
