
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/css/fontawesome-all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../bootstrap/css/mdb.css">
  <link rel="stylesheet" href="../bootstrap/css/styleRyuProfil.css">
  <link rel="stylesheet" href="../bootstrap/css/styleCommon.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
  <script src="../plugin/Auto-Grow-Textarea-textAdjust/jquery.textAdjust.js"></script>
  <script src="../bootstrap/js/bootstrap.js"></script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); }
    function formatxSmall(data) {
        data = data.substring(0, 30);
        document.write(data);
    }
    function formatmedium(data) {
        data = data.substring(0, 100);
        document.write(data+'...');
    }
    function horodatage(date) {
        var post = new Date(date).getTime();
        var month = new Date(date).getMonth();
        var day = new Date(date).getDay();
        var year = new Date(date).getFullYear();
        var hour = new Date(date).getHours();
        var min = new Date(date).getMinutes();
        var atMoment = new Date().getTime();
        post /= 1000;
        atMoment /= 1000;
        var fior = parseInt((atMoment - post), 10);
        if (fior >= 86400) {
            if (parseInt((fior/86400), 10) == 1){

                document.write("Hier, " + hour + "H:"+ min +"min");
            }
            else{
                document.write("Le " + day +"-"+ month +"-"+ year +", "+ hour + "H:"+ min +"min");
            }
        }
        else if(fior >= 3600 && fior < 86400){
            if(parseInt((fior/3600), 10) == 1){
                document.write("il y a " + parseInt((fior/3600), 10) + " Hr");
            }
            else{
                document.write("il y a " + parseInt((fior/3600), 10) + " Hrs");
            }
        }
        else if(fior >= 60 && fior < 3600){
            if(parseInt((fior/60), 10) == 1)
                document.write("il y a " + parseInt((fior/60), 10) + " Min");
            else
                document.write("il y a " + parseInt((fior/60), 10) + " Mins");
        }
        else{
            if (fior == 0){
                document.write("A l'instant");
            }
            document.write("il y a " + fior + " Sec");
        }
    }
</script>

  {# <!--------------------------------------------->
  <!-- 		   LOGO  NGBOADO ICON            -->
  <!---------------------------------------------> #}
  <link rel="icon" type="image/png" href="../medias/icon/logo/logo.png" />
  <link rel="stylesheet" href="../bootstrap/css/styleBar.css">
  <link rel="stylesheet" href="../bootstrap/css/style_groupes.css">

  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
  <script>
    /*$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   */
    /*});*/

  </script>
</head>
<body>
{# <!-- barre de haut
Button trigger modal -->
<!-------------------------------------------->
<!--    MENUS CONTAINER (two firsts bars)    -->
<!-------------------------------------------->

<div class="container-fluid navigation">
  <div class="row navigation">
    {# <!--======-- red bar container --======--> #}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="red-bar-container">
      <nav class="navbar navbar-default navbar-fixed-top" id="navbar" role="navigation">
        <div class="row">
          {# <!--======--green suscribe button container--======--> #}
          <div class="active-member-button col-xl-3 col-lg-3 col-md-3 col-sm-2 col-xs-2  col-xs-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1" id="container-button">
            <button class="btn btn-danger">DEVIENS
            UN MEMBRE ACTIF</button>
          </div>

          {# <!--======--parents icons container--======--> #}
          <div class="icons-services-icons col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
            <div class="row">

              {# <!--======--notification icons container--======--> #}
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">

                <div class="notification-icon">
                  <img src="../medias/icon/icon services/notification/notification1.png" title="notifications" height="25" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                </div>

                <div class="row dropright-notifications">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="../medias/icon/icon services/notification/message4.png" title="messages" height="22" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="../medias/icon/icon services/notification/friend.png" title="relations" height="22" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="../medias/icon/icon services/notification/testimony.jpg" title="recommandations" height="22" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                    </div>

                </div>

              {# <!--======--notification icons container--======--> #}
              </div>

              {# <!--======--shop icons container--======--> #}
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">

                <div class="shop-icon">
                  <img src="../medias/icon/icon services/shop/shop5.png" height="25" title="n'gboadô Shopping" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                </div>

                <div class="row dropright-shop">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="../medias/icon/icon services/shop/music1.png" title="plateforme de musique" height="22" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="../medias/icon/icon services/shop/events1.png" height="22" title="events market" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="../medias/images/add.png" height="22" title="plus" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                    </div>

                </div>

              {# <!--======--shop icons container--======--> #}
              </div>

              {# <!--======--services icons container--======--> #}
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <div class="services-icon">
                    <img src="../medias/icon/icon services/services/services.jpg" height="25" title="services" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                  </div>

                  <div class="row dropright-services">

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <img src="../medias/icon/icon services/services/just.png" height="22" title="assistance juridique" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <img src="../medias/images/add.png" height="22" title="plus" style="border: 2px solid white; border-radius: 50%; cursor: pointer;">
                      </div>

                  </div>


              {# <!--======--service icons container--======--> #}
              </div>

            </div>
          {# <!--======--parents icons container end--======--> #}
          </div>

          {# <!--======--collapse small device icon--======--> #}
          <div class="navbar-header" style="position: relative; left: -2%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#monMenu">
              <span class="glyphicon glyphicon glyphicon-th"></span>
            </button>
          {# <!--======--collapse small device icon end--======--> #}
          </div>

          {# <!--======-- navbar-collapse of droopdown small device --======--> #}
          <div class="collapse navbar-collapse" id="monMenu">

          {# <!--======-- navbar-collapse of droopdown small device end--======--> #}
          </div>

        </div>
      </nav>

    {# <!--======-- red bar container end--======--> #}
    </div>

    {# <!--======-- second bar container (#CB4335 navbar) --======--> #}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="blue-bar-container">

      <nav class="navbar navbar-default navbar-fixed-top" id="navbar-2" role="navigation" style="position: fixed; top: 69px;">
        {# <!--======--logo icon--======--> #}
        <div class="logo-icon-container col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1" style="padding-left: 60px; margin-top: 4px; margin-left: 9%; ">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <img src="../medias/icon/logo/logo.png" alt="logo icon" id="logo-icon" style="border-radius: 50%; border: 1px solid #28B463; width: 42px; height: 42px;">
            </div>
          </div>
        {# <!--======--logo icon end--======--> #}
        </div>

        {# <!--======--search input container--======--> #}
        <div class="search-input-div col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 10px; margin-top: 10px;">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="" style="">
                  <form action="" class="form"> <input type="search" class="input" placeholder="Rechercher membre | communauté..."> <i class="fa fa-search"></i></form>
              </div>

            </div>
          </div>
        {# <!--======--search input container end --======--> #}
        </div>

        {# <!--======--home, setting and profils icons --======--> #}
        <div class="home-icons-container col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 col-xs-pull-1 col-sm-pull-1 col-md-pull-1 col-lg-pull-1 col-xl-pull-1" style=" margin-top: 13px; margin-left: 30px;">
                    <div class="row" class="">
                        <!--======-- home icon ---======-->
                        <div class="home-icon col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="/Accueil"><img src="../medias/icon/icon services/services/home1.png" alt="home icon" height="25" id="home_icon" height="22" style="border-radius: 50%; border: 2px solid white; cursor: pointer;"></a>                            <!--======--home icon end --======-->
                        </div>

                        <!--======--profil icons --======-->
                        <div class="profil-icon col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="/profil"><img src="../medias/icon/user profil/africa/{{ user.profil }}" alt="user icon" height="25" id="profil_icon" height="22" style="border-radius: 50%; border: 2px solid white; cursor: pointer;"></a>
                            <!--======--profil icons end --======-->
                        </div>

                        <!--======--setting icon --======-->
                        <div class="setting-icon col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="../medias/icon/icon services/parametres/icone7.png" alt="parametre icon" height="26" id="parametre_icon" height="22" style="border-radius: 50%; border: 2px solid white; cursor: pointer;">
                            <!--======--setting icon end--======-->
                        </div>
                    </div>

                    <!--======--home, setting and profils icons end --======-->
                </div>
      </nav>

    {# <!--======-- second bar container end (#CB4335 navbar) --======--> #}
    </div>

    {# <!------------------------------------------------->
    <!-- THIRD BAR CONTAINER (chat bar fixed bottom) -->
    <!-------------------------------------------------> #}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="blue-bar-container-chat">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <nav class="navbar navbar-default navbar-fixed-bottom" id="navbar-chat" role="navigation" style="overflow-y: scroll;">
            <div style="width: 100%; height: 100%; background-color: ;">
              <div style="width: 300%; height: 100%; overflow-y: scroll; margin-left: 0.5%">

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userBoy09.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Gilles Quentin Gourou
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/arabe/userGirl0.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Fatim Myriam Sanogo
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/arabe/userGirl13.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Karidjatou Awa Mandy
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/arabe/userBoy02.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Emir Mokthar Alioun
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/blanc/userBoy05.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Severino Andrès Zabim
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/blanc/userGirl04.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Marie Claire Delafausse
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/blanc/userGirl3.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Sylvienne Jean Zigler
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/blanc/userBoy8.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Antoine Faure Leonard
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl05.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Baunom Eve Gnepo
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl25.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Stéphanie André N'cho
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl09.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Andréa Téré Christelle
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userBoy18.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Lionel Dogny Kokora
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl06.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Manuella Carine Koua
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl02.jpeg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Regina Elvyra Loba
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl07.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Carine Gisèle Kouamé
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl08.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Armelle Cynthia Diako
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl29.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Emmanuelle Ma Goh
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userChildBoy0.jpeg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Kyllian Samuel N'tep
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="dixineuvieme-friend-chat">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userBoy10.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Rochel Ryu Wilfried
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="vingtieme-friend-chat">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userBoy23.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Etienne Yahou Dibi
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="vingtetunieme-friend-chat">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userGirl08.jpg" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Armelle Cynthia Diako
                    </div>
                  </div>
                </div>

                <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="vigntdeuxiieme-friend-chat">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                      <img src="../medias/icon/user profil/africa/userBoy18.png" height="26" width="26" class="friend-chat-icon">
                    </div>

                    <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      Lionel Dogny Kokora
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
{#
  <!---------------------------------------------------->
  <!-- THIRD BAR CONTAINER END(chat bar fixed bottom) -->
  <!----------------------------------------------------> #}
  </div>
